---
import "~/styles/mainPage.css";
import ItemProject from "~/components/ItemProject.astro";
import projectsData from "~/data/projectsData.json";
import type IProject from "~/interfaces/IProject";
import BaseLayout from "~/layouts/BaseLayout.astro";

const projects: IProject[] = projectsData;
---

<BaseLayout title="Abrahams Portfolio" description="Abrahams Portfolio">
  <div class="row">
    <div id="containerAbraham" class="model"></div>
    <div class="text-container">
      <h1>Abrahams Portfolio</h1>
    </div>
  </div>

  <ItemProject project={projects[0]} />
  <ItemProject project={projects[1]} />
  <ItemProject project={projects[2]} />
  <ItemProject project={projects[3]} />
  <ItemProject project={projects[4]} />
</BaseLayout>

<script>
  import ShowAbrahamsModel from '~/scripts/showAbrahamsModel';
  import ShowPageModels from '~/scripts/showPageModels';
  import type IProject from '~/interfaces/IProject';
  import projectsData from '~/data/projectsData.json'
  const projects: IProject[] = projectsData;

  function initModels() {
    new ShowAbrahamsModel('/models/abrahamsModel.glb' ,"containerAbraham");

    projects.forEach(element => {
      new ShowPageModels(element.modelPath, element.idContainer);
    });
  }

  initModels();
</script>
